In [1]:
%load_ext sql
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
import math

In [2]:
%sql clickhouse://liubov-shalimova:pswrd@clickhouse.cc.local:8123/default

'Connected: liubov-shalimova@default'

In [3]:
import ecom_queries_capitalone, ecom_queries, ecom_queries_honey
organizationId = '6d2468ba-8260-4b7f-a9c1-5cd87bb2d358' 
period = 14
orgname_res = %sql select name from bo.organizations_mysql where orgId = :organizationId
orgname = orgname_res[0][0]

 * clickhouse://liubov-shalimova:***@clickhouse.clean.local:8123/default
Done.

##### this file is for Kitu
###### coupon like '%nenlahapcbofgnanklpelkaejcehkggg%' is WikiByu, coupon like '%bmnlcjabgnpnenekpadlanbbkooimhnj%' is Honey

In [4]:
def get_metrics_fromDB(organizationId, extension_param, days_back):
    #global statsP0, statsP1, statsP2, thnkpage, extensionblocked
    frames0 = []
    frames1 = []
    frames2 = []
    framesth = []
    framesexb = []
    for i in range(1,days_back):
        start_date = date.today() - timedelta(days=i)
        end_date = date.today() - timedelta(days=i)
        start_date_str = start_date.strftime('%Y-%m-%d')
        end_date_str = end_date.strftime('%Y-%m-%d')
        #print(start_date_str)
        #print(start_date_str)
        if extension_param == 'capitalone':
            statsP0 = %sql $ecom_queries_capitalone.querryForStatsP0
            statsP1 = %sql $ecom_queries_capitalone.querryForStatsP1
            extensionblocked = %sql $ecom_queries_capitalone.querryforextentionblocked
        elif extension_param == 'honey':
            statsP0 = %sql $ecom_queries_honey.querryForStatsP0
            statsP1 = %sql $ecom_queries_honey.querryForStatsP1
            extensionblocked = %sql $ecom_queries_honey.querryforextentionblocked
        else:
            statsP0 = %sql $ecom_queries.querryForStatsP0
            statsP1 = %sql $ecom_queries.querryForStatsP1
            extensionblocked = %sql $ecom_queries.querryforextentionblocked
        statsP2 = %sql $ecom_queries.querryForStatsP2 
        thnkpage = %sql $ecom_queries.querryforthankyoupage 
        statsP0 = statsP0.DataFrame()
        frames0.append(statsP0)
        statsP1 = statsP1.DataFrame()
        frames1.append(statsP1)
        statsP2 = statsP2.DataFrame()
        frames2.append(statsP2)
        thnkpage = thnkpage.DataFrame()
        framesth.append(thnkpage)
        extensionblocked = extensionblocked.DataFrame()
        framesexb.append(extensionblocked)
        dates = start_date_str
        statsP0['idx_date']=dates
        statsP1['idx_date']=dates
        statsP2['idx_date']=dates
        thnkpage['idx_date']=dates
        extensionblocked['idx_date']=dates
    statsP0 = pd.concat(frames0)
    statsP1 = pd.concat(frames1)
    statsP2 = pd.concat(frames2)
    thnkpage = pd.concat(framesth)
    extensionblocked = pd.concat(framesexb)
    return statsP0, statsP1, statsP2, thnkpage, extensionblocked

In [ ]:
statsP0, statsP1, statsP2, thnkpage, extensionblocked = get_metrics_fromDB(organizationId, 'total', period)
statsP0Honey, statsP1Honey, statsP2, thnkpage, extensionblockedHoney = get_metrics_fromDB(organizationId, 'honey', period)
statsP0CO, statsP1CO, statsP2, thnkpage, extensionblockedCO = get_metrics_fromDB(organizationId, 'capitalone', period)

In [6]:
#assigning needed type for collumns and seting idx_date as index for Totals
statsP0 = statsP0.drop(columns=['gross_revenue_with_coupons_blocked_applied', 'percentage_of_gross_sales_saved'])
statsP0['orders_with_blocking']=statsP0['orders_with_blocking'].astype('float64')
statsP0['estimated_savings']=statsP0['estimated_savings'].astype('float64')
statsP0['applied_discount']=statsP0['applied_discount'].astype('float64')
statsP0['sales_with_blocking']=statsP0['sales_with_blocking'].astype('float64')
statsP0['idx_date']=statsP0['idx_date'].astype('datetime64')
statsP0 = statsP0.set_index('idx_date')

statsP1['total_coupons_blocked']=statsP1['total_coupons_blocked'].astype('int64')
statsP1['total_carts_with_blocking']=statsP1['total_carts_with_blocking'].astype('int64')
statsP1['total_unique_coupon_codes']=statsP1['total_unique_coupon_codes'].astype('int64')
statsP1 = statsP1.rename(columns={"total_unique_coupon_codes": "total_unique_coupon"})
statsP1['idx_date']=statsP1['idx_date'].astype('datetime64')
statsP1 = statsP1.set_index('idx_date')

extensionblocked['extension_blocked']=extensionblocked['extension_blocked'].astype('int64')
extensionblocked['idx_date']=extensionblocked['idx_date'].astype('datetime64')
extensionblocked = extensionblocked.set_index('idx_date')

#assigning needed type for collumns and seting idx_date as index for Honey results
statsP0Honey = statsP0Honey.drop(columns=['gross_revenue_with_coupons_blocked_applied', 'percentage_of_gross_sales_saved'])
statsP0Honey['orders_with_blocking']=statsP0Honey['orders_with_blocking'].astype('float64')
statsP0Honey['estimated_savings']=statsP0Honey['estimated_savings'].astype('float64')
statsP0Honey['applied_discount']=statsP0Honey['applied_discount'].astype('float64')
statsP0Honey['sales_with_blocking']=statsP0Honey['sales_with_blocking'].astype('float64')
statsP0Honey['idx_date']=statsP0Honey['idx_date'].astype('datetime64')
statsP0Honey = statsP0Honey.set_index('idx_date')

statsP1Honey['total_coupons_blocked']=statsP1Honey['total_coupons_blocked'].astype('int64')
statsP1Honey['total_carts_with_blocking']=statsP1Honey['total_carts_with_blocking'].astype('int64')
statsP1Honey['total_unique_coupon_codes']=statsP1Honey['total_unique_coupon_codes'].astype('int64')
statsP1Honey = statsP1Honey.rename(columns={"total_unique_coupon_codes": "total_unique_coupon"})
statsP1Honey['idx_date']=statsP1Honey['idx_date'].astype('datetime64')
statsP1Honey = statsP1Honey.set_index('idx_date')

extensionblockedHoney['extension_blocked']=extensionblockedHoney['extension_blocked'].astype('int64')
extensionblockedHoney['idx_date']=extensionblockedHoney['idx_date'].astype('datetime64')
extensionblockedHoney = extensionblockedHoney.set_index('idx_date')

#assigning needed type for collumns and seting idx_date as index for CapitalOne results
statsP0CO = statsP0CO.drop(columns=['gross_revenue_with_coupons_blocked_applied', 'percentage_of_gross_sales_saved'])
statsP0CO['orders_with_blocking']=statsP0CO['orders_with_blocking'].astype('float64')
statsP0CO['estimated_savings']=statsP0CO['estimated_savings'].astype('float64')
statsP0CO['applied_discount']=statsP0CO['applied_discount'].astype('float64')
statsP0CO['sales_with_blocking']=statsP0CO['sales_with_blocking'].astype('float64')
statsP0CO['idx_date']=statsP0CO['idx_date'].astype('datetime64')
statsP0CO = statsP0CO.set_index('idx_date')

statsP1CO['total_coupons_blocked']=statsP1CO['total_coupons_blocked'].astype('int64')
statsP1CO['total_carts_with_blocking']=statsP1CO['total_carts_with_blocking'].astype('int64')
statsP1CO['total_unique_coupon_codes']=statsP1CO['total_unique_coupon_codes'].astype('int64')
statsP1CO = statsP1CO.rename(columns={"total_unique_coupon_codes": "total_unique_coupon"})
statsP1CO['idx_date']=statsP1CO['idx_date'].astype('datetime64')
statsP1CO = statsP1CO.set_index('idx_date')

extensionblockedCO['extension_blocked']=extensionblockedCO['extension_blocked'].astype('int64')
extensionblockedCO['idx_date']=extensionblockedCO['idx_date'].astype('datetime64')
extensionblockedCO = extensionblockedCO.set_index('idx_date')

#assigning needed type for collumns and seting idx_date as index for params not depending on extension 
statsP2['total_protected_pageviews']=statsP2['total_protected_pageviews'].astype('int64')
statsP2['idx_date']=statsP2['idx_date'].astype('datetime64')
statsP2 = statsP2.set_index('idx_date')

thnkpage['thankyoupage']=thnkpage['thankyoupage'].astype('int64')
thnkpage['idx_date']=thnkpage['idx_date'].astype('datetime64')
thnkpage = thnkpage.set_index('idx_date')

In [7]:
#merging all dataframes nd rounding numbers
mergedStats_raw_raw = statsP0.merge(statsP1, on = 'idx_date').merge(statsP2, on = 'idx_date').merge(thnkpage, on = 'idx_date').merge(extensionblocked, on = 'idx_date')
mergedStats_raw=mergedStats_raw_raw.round(2)
mergedStats_raw

,orders_with_blocking,sales_with_blocking,estimated_savings,applied_discount,total_coupons_blocked,total_carts_with_blocking,total_unique_coupon,total_protected_pageviews,thankyoupage,extension_blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,162.16,60.43,126,31,25,9605,344,584
2021-03-10,8.0,402.67,146.84,118.01,96,21,14,10899,325,628
2021-03-09,6.0,201.05,50.96,128.56,145,25,17,9380,285,608
2021-03-08,1.0,36.98,0.00,0.00,120,24,27,8709,246,535
2021-03-07,4.0,179.50,58.82,56.61,51,11,11,8496,269,290
2021-03-06,3.0,168.74,65.86,53.21,35,10,12,9200,288,313
2021-03-05,17.0,630.01,215.34,214.43,196,40,14,18794,393,1106
2021-03-04,2.0,92.05,0.00,3.29,61,16,10,9508,267,488
2021-03-03,2.0,70.57,20.39,20.39,191,40,22,11084,376,594
2021-03-02,11.0,499.59,91.03,113.23,137,34,30,14369,431,677
2021-03-01,9.0,373.54,96.44,106.82,111,30,14,11888,339,651
2021-02-28,4.0,310.04,87.65,68.46,85,17,15,7380,250,255
2021-02-27,3.0,378.69,104.22,0.00,47,7,15,6799,243,278

In [8]:
#merging all dataframes for Honey and rounding numbers
mergedStats_raw_raw_honey = statsP0Honey.merge(statsP1Honey, on = 'idx_date').merge(statsP2, on = 'idx_date').merge(thnkpage, on = 'idx_date').merge(extensionblockedHoney, on = 'idx_date')
mergedStats_rawHoney=mergedStats_raw_raw_honey.round(2)
mergedStats_rawHoney

,orders_with_blocking,sales_with_blocking,estimated_savings,applied_discount,total_coupons_blocked,total_carts_with_blocking,total_unique_coupon,total_protected_pageviews,thankyoupage,extension_blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,102.45,60.43,54,25,17,9605,344,390
2021-03-10,7.0,355.08,86.75,97.62,29,16,8,10899,325,450
2021-03-09,3.0,140.28,3.80,23.42,27,16,10,9380,285,391
2021-03-08,1.0,36.98,0.00,0.00,46,18,19,8709,246,359
2021-03-07,4.0,179.50,58.82,56.61,12,7,4,8496,269,206
2021-03-06,1.0,50.68,20.39,20.39,14,6,7,9200,288,164
2021-03-05,9.0,358.25,123.97,129.66,48,22,7,18794,393,670
2021-03-04,2.0,92.05,0.00,3.29,17,11,4,9508,267,317
2021-03-03,2.0,70.57,20.39,20.39,63,31,18,11084,376,411
2021-03-02,10.0,470.43,81.54,103.74,72,28,25,14369,431,485
2021-03-01,6.0,245.02,47.87,56.45,39,20,11,11888,339,488
2021-02-28,2.0,186.44,24.40,37.78,24,9,10,7380,250,171
2021-02-27,3.0,378.69,36.80,0.00,20,6,12,6799,243,188

In [9]:
#merging all dataframes for CapitalOne and rounding numbers
mergedStats_raw_raw_capitalone = statsP0CO.merge(statsP1CO, on = 'idx_date').merge(statsP2, on = 'idx_date').merge(thnkpage, on = 'idx_date').merge(extensionblockedCO, on = 'idx_date')
mergedStats_rawCO=mergedStats_raw_raw_capitalone.round(2)
mergedStats_rawCO

,orders_with_blocking,sales_with_blocking,estimated_savings,applied_discount,total_coupons_blocked,total_carts_with_blocking,total_unique_coupon,total_protected_pageviews,thankyoupage,extension_blocked
idx_date,,,,,,,,,,
2021-03-11,2.0,204.69,78.05,0.00,72,10,10,9605,344,194
2021-03-10,3.0,167.46,76.68,47.85,67,10,10,10899,325,178
2021-03-09,3.0,60.77,47.16,105.14,118,16,11,9380,285,217
2021-03-08,NaN,0.00,0.00,0.00,74,10,11,8709,246,176
2021-03-07,NaN,0.00,0.00,0.00,39,5,11,8496,269,84
2021-03-06,2.0,118.06,45.47,32.82,21,6,10,9200,288,149
2021-03-05,8.0,271.76,91.37,84.77,148,22,10,18794,393,436
2021-03-04,NaN,0.00,0.00,0.00,44,7,9,9508,267,171
2021-03-03,NaN,0.00,0.00,0.00,128,14,9,11084,376,183
2021-03-02,1.0,29.16,9.49,9.49,65,8,9,14369,431,192
2021-03-01,3.0,128.52,48.57,50.37,72,12,8,11888,339,163
2021-02-28,3.0,217.17,73.65,30.68,61,10,8,7380,250,84
2021-02-27,2.0,275.69,93.62,0.00,27,5,8,6799,243,90

#### Choose method of handling missing data: either drop days where NaN is present or fill with 0 - replace NaN with 0 by default for Kitu

In [10]:
#handling missing data in the past 30 days for totals
if mergedStats_raw.index.all != date.today() - timedelta(days=1):
    mergedStats = mergedStats_raw.fillna(0)
else:
    print('corrupted data in yesterday')
mergedStats

#handling missing data in the past 30 days for Honey
if mergedStats_rawHoney.index.all != date.today() - timedelta(days=1):
    mergedStatsHoney = mergedStats_rawHoney.fillna(0)
else:
    print('corrupted data in yesterday')
mergedStatsHoney

#handling missing data in the past 30 days for CapitalOne
if mergedStats_rawCO.index.all != date.today() - timedelta(days=1):
    mergedStatsCO = mergedStats_rawCO.fillna(0)
else:
    print('corrupted data in yesterday')
mergedStatsCO

,orders_with_blocking,sales_with_blocking,estimated_savings,applied_discount,total_coupons_blocked,total_carts_with_blocking,total_unique_coupon,total_protected_pageviews,thankyoupage,extension_blocked
idx_date,,,,,,,,,,
2021-03-11,2.0,204.69,78.05,0.00,72,10,10,9605,344,194
2021-03-10,3.0,167.46,76.68,47.85,67,10,10,10899,325,178
2021-03-09,3.0,60.77,47.16,105.14,118,16,11,9380,285,217
2021-03-08,0.0,0.00,0.00,0.00,74,10,11,8709,246,176
2021-03-07,0.0,0.00,0.00,0.00,39,5,11,8496,269,84
2021-03-06,2.0,118.06,45.47,32.82,21,6,10,9200,288,149
2021-03-05,8.0,271.76,91.37,84.77,148,22,10,18794,393,436
2021-03-04,0.0,0.00,0.00,0.00,44,7,9,9508,267,171
2021-03-03,0.0,0.00,0.00,0.00,128,14,9,11084,376,183
2021-03-02,1.0,29.16,9.49,9.49,65,8,9,14369,431,192
2021-03-01,3.0,128.52,48.57,50.37,72,12,8,11888,339,163
2021-02-28,3.0,217.17,73.65,30.68,61,10,8,7380,250,84
2021-02-27,2.0,275.69,93.62,0.00,27,5,8,6799,243,90

In [11]:
#renaming columns to human language
mergedStats_normal_naming = mergedStats.rename(columns={"orders_with_blocking": "Orders with coupons blocked", "sales_with_blocking": "Sales with Coupon-blocking", "estimated_savings": "Estimated Savings",
"applied_discount": "Applied discount", "total_coupons_blocked": "Coupons blocked", "total_carts_with_blocking": "Total arts with auto-blocking", 
"total_unique_coupon": "Unique coupon codes blocked", "total_protected_pageviews":"Protected page views", "thankyoupage": "Total Sales", "extension_blocked": "Honey&CapitalOne extensions blocked" })
mergedStats_normal_naming

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,162.16,60.43,126,31,25,9605,344,584
2021-03-10,8.0,402.67,146.84,118.01,96,21,14,10899,325,628
2021-03-09,6.0,201.05,50.96,128.56,145,25,17,9380,285,608
2021-03-08,1.0,36.98,0.00,0.00,120,24,27,8709,246,535
2021-03-07,4.0,179.50,58.82,56.61,51,11,11,8496,269,290
2021-03-06,3.0,168.74,65.86,53.21,35,10,12,9200,288,313
2021-03-05,17.0,630.01,215.34,214.43,196,40,14,18794,393,1106
2021-03-04,2.0,92.05,0.00,3.29,61,16,10,9508,267,488
2021-03-03,2.0,70.57,20.39,20.39,191,40,22,11084,376,594
2021-03-02,11.0,499.59,91.03,113.23,137,34,30,14369,431,677
2021-03-01,9.0,373.54,96.44,106.82,111,30,14,11888,339,651
2021-02-28,4.0,310.04,87.65,68.46,85,17,15,7380,250,255
2021-02-27,3.0,378.69,104.22,0.00,47,7,15,6799,243,278

In [12]:
#renaming columns for Totals to human language fot Honey 
mergedStats_normal_namingHoney = mergedStatsHoney.rename(columns={"orders_with_blocking": "Orders with coupons blocked", "sales_with_blocking": "Sales with Coupon-blocking", "estimated_savings": "Estimated Savings",
"applied_discount": "Applied discount", "total_coupons_blocked": "Coupons blocked", "total_carts_with_blocking": "Total arts with auto-blocking", 
"total_unique_coupon": "Unique coupon codes blocked", "total_protected_pageviews":"Protected page views", "thankyoupage": "Total Sales", "extension_blocked": "Honey extensions blocked" })
mergedStats_normal_namingHoney

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey extensions blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,102.45,60.43,54,25,17,9605,344,390
2021-03-10,7.0,355.08,86.75,97.62,29,16,8,10899,325,450
2021-03-09,3.0,140.28,3.80,23.42,27,16,10,9380,285,391
2021-03-08,1.0,36.98,0.00,0.00,46,18,19,8709,246,359
2021-03-07,4.0,179.50,58.82,56.61,12,7,4,8496,269,206
2021-03-06,1.0,50.68,20.39,20.39,14,6,7,9200,288,164
2021-03-05,9.0,358.25,123.97,129.66,48,22,7,18794,393,670
2021-03-04,2.0,92.05,0.00,3.29,17,11,4,9508,267,317
2021-03-03,2.0,70.57,20.39,20.39,63,31,18,11084,376,411
2021-03-02,10.0,470.43,81.54,103.74,72,28,25,14369,431,485
2021-03-01,6.0,245.02,47.87,56.45,39,20,11,11888,339,488
2021-02-28,2.0,186.44,24.40,37.78,24,9,10,7380,250,171
2021-02-27,3.0,378.69,36.80,0.00,20,6,12,6799,243,188

In [13]:
#renaming columns for Totals to human language fot CapitalOne 
mergedStats_normal_namingCO = mergedStatsCO.rename(columns={"orders_with_blocking": "Orders with coupons blocked", "sales_with_blocking": "Sales with Coupon-blocking", "estimated_savings": "Estimated Savings",
"applied_discount": "Applied discount", "total_coupons_blocked": "Coupons blocked", "total_carts_with_blocking": "Total arts with auto-blocking", 
"total_unique_coupon": "Unique coupon codes blocked", "total_protected_pageviews":"Protected page views", "thankyoupage": "Total Sales", "extension_blocked": "CapitalOne extensions blocked" })
mergedStats_normal_namingCO

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-11,2.0,204.69,78.05,0.00,72,10,10,9605,344,194
2021-03-10,3.0,167.46,76.68,47.85,67,10,10,10899,325,178
2021-03-09,3.0,60.77,47.16,105.14,118,16,11,9380,285,217
2021-03-08,0.0,0.00,0.00,0.00,74,10,11,8709,246,176
2021-03-07,0.0,0.00,0.00,0.00,39,5,11,8496,269,84
2021-03-06,2.0,118.06,45.47,32.82,21,6,10,9200,288,149
2021-03-05,8.0,271.76,91.37,84.77,148,22,10,18794,393,436
2021-03-04,0.0,0.00,0.00,0.00,44,7,9,9508,267,171
2021-03-03,0.0,0.00,0.00,0.00,128,14,9,11084,376,183
2021-03-02,1.0,29.16,9.49,9.49,65,8,9,14369,431,192
2021-03-01,3.0,128.52,48.57,50.37,72,12,8,11888,339,163
2021-02-28,3.0,217.17,73.65,30.68,61,10,8,7380,250,84
2021-02-27,2.0,275.69,93.62,0.00,27,5,8,6799,243,90

In [14]:
median_data_input=mergedStats_normal_naming.median().round(2)
median_data_input

Orders with coupons blocked               4.00
Sales with Coupon-blocking              310.04
Estimated Savings                        87.65
Applied discount                         60.43
Coupons blocked                         111.00
Total arts with auto-blocking           24.00
Unique coupon codes blocked              15.00
Protected page views                   9508.00
Total Sales                             288.00
Honey&CapitalOne extensions blocked     584.00
dtype: float64

In [15]:
median_data=mergedStats.median().round(2)
median_data

orders_with_blocking            4.00
sales_with_blocking           310.04
estimated_savings              87.65
applied_discount               60.43
total_coupons_blocked         111.00
total_carts_with_blocking      24.00
total_unique_coupon            15.00
total_protected_pageviews    9508.00
thankyoupage                  288.00
extension_blocked             584.00
dtype: float64

In [16]:
#import pandas_profiling
#mergedStats.profile_report()

In [17]:
yesterday = date.today() - timedelta(days=1)
two_days_ago = date.today() - timedelta(days=2)
today_str = date.today().strftime('%Y-%m-%d')
yesterday_str = yesterday.strftime('%Y-%m-%d')
two_days_ago_str = two_days_ago.strftime('%Y-%m-%d')
week_ago = date.today() - timedelta(days=8)
week_ago_str = week_ago.strftime('%Y-%m-%d')

In [18]:
latest_stats = mergedStats_normal_naming.loc[mergedStats_normal_naming.index == yesterday_str]
latest_stats

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,162.16,60.43,126,31,25,9605,344,584

In [19]:
latest_statsHoney = mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == yesterday_str]
latest_statsHoney

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey extensions blocked
idx_date,,,,,,,,,,
2021-03-11,9.0,730.39,102.45,60.43,54,25,17,9605,344,390

In [20]:
latest_statsCO = mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == yesterday_str]
latest_statsCO

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-11,2.0,204.69,78.05,0.0,72,10,10,9605,344,194

In [21]:
two_days_ago_stats = mergedStats_normal_naming.loc[mergedStats_normal_naming.index == two_days_ago_str]
two_days_ago_stats

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-10,8.0,402.67,146.84,118.01,96,21,14,10899,325,628

In [22]:
two_days_ago_statsHoney = mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == two_days_ago_str]
two_days_ago_statsHoney

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey extensions blocked
idx_date,,,,,,,,,,
2021-03-10,7.0,355.08,86.75,97.62,29,16,8,10899,325,450

In [23]:
two_days_ago_statsCO = mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == two_days_ago_str]
two_days_ago_statsCO

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-10,3.0,167.46,76.68,47.85,67,10,10,10899,325,178

In [24]:
week_ago_stats = mergedStats_normal_naming.loc[mergedStats_normal_naming.index == week_ago_str]
week_ago_stats

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-04,2.0,92.05,0.0,3.29,61,16,10,9508,267,488

In [25]:
week_ago_statsHoney = mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == week_ago_str]
week_ago_statsHoney

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey extensions blocked
idx_date,,,,,,,,,,
2021-03-04,2.0,92.05,0.0,3.29,17,11,4,9508,267,317

In [26]:
week_ago_statsCO = mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == week_ago_str]
week_ago_statsCO

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
idx_date,,,,,,,,,,
2021-03-04,0.0,0.0,0.0,0.0,44,7,9,9508,267,171

In [27]:
if 0 in mergedStats_normal_naming.loc[mergedStats_normal_naming.index == two_days_ago_str].values:
    np.seterr(divide = 'ignore', invalid='ignore')
    print('Please note, previous day or current day contains 0')
    diff_between_days_raw = (mergedStats_normal_naming.loc[mergedStats_normal_naming.index == yesterday_str].values/mergedStats_normal_naming.loc[mergedStats_normal_naming.index == two_days_ago_str].values)*100 - 100
    diff_between_days=diff_between_days_raw.round(2)
    diff_between_days = pd.DataFrame(diff_between_days, columns=mergedStats_normal_naming.columns)
    diff_between_days = diff_between_days.replace([np.inf, -np.inf], 0)
    diff_between_days = diff_between_days.fillna(0)
    print('% diff between', yesterday_str, 'and', week_ago_str)
    #print(diff_between_days_of_week)
else:
    diff_between_days_raw = (mergedStats_normal_naming.loc[mergedStats_normal_naming.index == yesterday_str].values/mergedStats_normal_naming.loc[mergedStats_normal_naming.index == two_days_ago_str].values)*100 - 100
    diff_between_days=diff_between_days_raw.round(2)
    diff_between_days = pd.DataFrame(diff_between_days, columns=mergedStats_normal_naming.columns)
    print('% diff between', yesterday_str, 'and', two_days_ago_str)
diff_between_days

% diff between 2021-03-11 and 2021-03-10

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
0,12.5,81.39,10.43,-48.79,31.25,47.62,78.57,-11.87,5.85,-7.01

In [28]:
if 0 in mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == two_days_ago_str].values:
    print('Please note, previous day contains 0')
    np.seterr(divide = 'ignore') 
    diff_between_days_rawHoney = (mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == yesterday_str].values/mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == two_days_ago_str].values)*100 - 100
    diff_between_daysHoney = diff_between_days_rawHoney.round(2)
    diff_between_daysHoney = pd.DataFrame(diff_between_daysHoney, columns=mergedStats_normal_namingHoney.columns)
    diff_between_daysHoney = diff_between_daysHoney.replace([np.inf, -np.inf], 0)
    diff_between_daysHoney = diff_between_daysHoney.fillna(0)
    print('% diff for Honey between', yesterday_str, 'and', week_ago_str)
else:
    diff_between_days_rawHoney = (mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == yesterday_str].values/mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == two_days_ago_str].values)*100 - 100
    diff_between_daysHoney=diff_between_days_rawHoney.round(2)
    diff_between_daysHoney = pd.DataFrame(diff_between_daysHoney, columns=mergedStats_normal_namingHoney.columns)
    print('% diff for Honey between', yesterday_str, 'and', two_days_ago_str)   
diff_between_daysHoney

% diff for Honey between 2021-03-11 and 2021-03-10

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey extensions blocked
0,28.57,105.7,18.1,-38.1,86.21,56.25,112.5,-11.87,5.85,-13.33

In [29]:
if 0 in mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == two_days_ago_str].values:
    print('Please note, previous day contains 0')
    np.seterr(divide = 'ignore') 
    diff_between_days_rawCO = (mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == yesterday_str].values/mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == two_days_ago_str].values)*100 - 100
    diff_between_daysCO = diff_between_days_rawCO.round(2)
    diff_between_daysCO = pd.DataFrame(diff_between_daysCO, columns=mergedStats_normal_namingCO.columns)
    diff_between_daysCO = diff_between_daysCO.replace([np.inf, -np.inf], 0)
    diff_between_daysCO = diff_between_daysCO.fillna(0)
    print('% diff for CapitalOne between', yesterday_str, 'and', week_ago_str)
else:
    diff_between_days_rawCO = (mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == yesterday_str].values/mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == two_days_ago_str].values)*100 - 100
    diff_between_daysCO=diff_between_days_rawCO.round(2)
    diff_between_daysCO = pd.DataFrame(diff_between_daysCO, columns=mergedStats_normal_namingCO.columns)
    print('% diff for CapitalOne between', yesterday_str, 'and', two_days_ago_str)   
diff_between_daysCO

% diff for CapitalOne between 2021-03-11 and 2021-03-10

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
0,-33.33,22.23,1.79,-100.0,7.46,0.0,0.0,-11.87,5.85,8.99

In [30]:
if 0 in mergedStats_normal_naming.loc[mergedStats_normal_naming.index == week_ago_str].values:
    print('Please note, week ago day contain 0')
    np.seterr(divide = 'ignore') 
    diff_between_days_of_week_raw = (mergedStats_normal_naming.loc[mergedStats_normal_naming.index == yesterday_str].values/mergedStats_normal_naming.loc[mergedStats_normal_naming.index == week_ago_str].values)*100 - 100
    diff_between_days_of_week=diff_between_days_of_week_raw.round(2)
    diff_between_days_of_week = pd.DataFrame(diff_between_days_of_week, columns=mergedStats_normal_naming.columns)
    diff_between_days_of_week = diff_between_days_of_week.replace([np.inf, -np.inf], 0)
    print('% diff between', yesterday_str, 'and', week_ago_str)
    #print(diff_between_days_of_week)
else: 
    diff_between_days_of_week_raw = (mergedStats_normal_naming.loc[mergedStats_normal_naming.index == yesterday_str].values/mergedStats_normal_naming.loc[mergedStats_normal_naming.index == week_ago_str].values)*100 - 100
    diff_between_days_of_week=diff_between_days_of_week_raw.round(2)
    diff_between_days_of_week = pd.DataFrame(diff_between_days_of_week, columns=mergedStats_normal_naming.columns)
    print('% diff between', yesterday_str, 'and', week_ago_str)
diff_between_days_of_week

Please note, week ago day contain 0
% diff between 2021-03-11 and 2021-03-04

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
0,350.0,693.47,0.0,1736.78,106.56,93.75,150.0,1.02,28.84,19.67

In [31]:
if 0 in mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == week_ago_str].values:
    print('Please note, week ago day contain 0')
    np.seterr(divide = 'ignore', invalid='ignore')
    diff_between_days_of_week_rawHoney = (mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == yesterday_str].values/mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == week_ago_str].values)*100 - 100
    diff_between_days_of_weekHoney=diff_between_days_of_week_rawHoney.round(2)
    diff_between_days_of_weekHoney = pd.DataFrame(diff_between_days_of_weekHoney, columns=mergedStats_normal_naming.columns)
    diff_between_days_of_weekHoney = diff_between_days_of_weekHoney.replace([np.inf, -np.inf], 0)
    diff_between_days_of_weekHoney = diff_between_days_of_weekHoney.fillna(0)
    print('% diff for Honey between', yesterday_str, 'and', week_ago_str)
    #print(diff_between_days_of_week)
else: 
    diff_between_days_of_week_rawHoney = (mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == yesterday_str].values/mergedStats_normal_namingHoney.loc[mergedStats_normal_namingHoney.index == week_ago_str].values)*100 - 100
    diff_between_days_of_weekHoney=diff_between_days_of_week_rawHoney.round(2)
    diff_between_days_of_weekHoney = pd.DataFrame(diff_between_days_of_weekHoney, columns=mergedStats_normal_namingHoney.columns)
    print('% diff for Honey between', yesterday_str, 'and', week_ago_str)
diff_between_days_of_weekHoney

Please note, week ago day contain 0
% diff for Honey between 2021-03-11 and 2021-03-04

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,Honey&CapitalOne extensions blocked
0,350.0,693.47,0.0,1736.78,217.65,127.27,325.0,1.02,28.84,23.03

In [32]:
if 0 in mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == week_ago_str].values:
    print('Please note, week ago day contain 0')
    np.seterr(divide = 'ignore', invalid='ignore')
    diff_between_days_of_week_rawCO = (mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == yesterday_str].values/mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == week_ago_str].values)*100 - 100
    diff_between_days_of_weekCO=diff_between_days_of_week_rawCO.round(2)
    diff_between_days_of_weekCO = pd.DataFrame(diff_between_days_of_weekCO, columns=mergedStats_normal_namingCO.columns)
    diff_between_days_of_weekCO = diff_between_days_of_weekCO.replace([np.inf, -np.inf], 0)
    diff_between_days_of_weekCO = diff_between_days_of_weekCO.fillna(0)
    print('% diff for Capital One between', yesterday_str, 'and', week_ago_str)
    #print(diff_between_days_of_week)
else: 
    diff_between_days_of_week_rawCO = (mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == yesterday_str].values/mergedStats_normal_namingCO.loc[mergedStats_normal_namingCO.index == week_ago_str].values)*100 - 100
    diff_between_days_of_weekCO=diff_between_days_of_week_rawCO.round(2)
    diff_between_days_of_weekCO = pd.DataFrame(diff_between_days_of_weekCO, columns=mergedStats_normal_namingCO.columns)
    print('% diff for Capital One between', yesterday_str, 'and', week_ago_str)
diff_between_days_of_weekCO

Please note, week ago day contain 0
% diff for Capital One between 2021-03-11 and 2021-03-04

,Orders with coupons blocked,Sales with Coupon-blocking,Estimated Savings,Applied discount,Coupons blocked,Total arts with auto-blocking,Unique coupon codes blocked,Protected page views,Total Sales,CapitalOne extensions blocked
0,0.0,0.0,0.0,0.0,63.64,42.86,11.11,1.02,28.84,13.45

In [33]:
es = mergedStats._get_value(yesterday_str, 'estimated_savings')
ad = mergedStats._get_value(yesterday_str, 'applied_discount')
ob = mergedStats._get_value(yesterday_str, 'orders_with_blocking')
sb = mergedStats._get_value(yesterday_str, 'sales_with_blocking')
tcoupb = mergedStats._get_value(yesterday_str, 'total_coupons_blocked')
tcartb = mergedStats._get_value(yesterday_str, 'total_carts_with_blocking')
tuq = mergedStats._get_value(yesterday_str, 'total_unique_coupon')
tpv = mergedStats._get_value(yesterday_str, 'total_protected_pageviews')
thp = mergedStats._get_value(yesterday_str, 'thankyoupage')
extblockd = mergedStats._get_value(yesterday_str, 'extension_blocked')

In [34]:
class formating_text:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'
def deviation_es(var):
    var = abs(100-var/median_data.get('estimated_savings')*100)
    return var
def deviation_ob(var):
    var = abs(100-var/median_data.get('orders_with_blocking')*100)
    return var
def deviation_ad(var):
    var = abs(100-var/median_data.get('applied_discount')*100)
    return var
def deviation_sb(var):
    var = abs(100-var/median_data.get('sales_with_blocking')*100)
    return var
def deviation_tcoupb(var):
    var = abs(100-var/median_data.get('total_coupons_blocked')*100)
    return var
def deviation_tcartb(var):
    var = abs(100-var/median_data.get('total_carts_with_blocking')*100)
    return var
def deviation_tuq(var):
    var = abs(100-var/median_data.get('total_unique_coupon')*100)
    return var
def deviation_tpv(var):
    var = abs(100-var/median_data.get('total_protected_pageviews')*100)
    return var
def deviation_thp(var):
    var = abs(100-var/median_data.get('thankyoupage')*100)
    return var
def deviation_exb(var):
    var = abs(100-var/median_data.get('extension_blocked')*100)
    return var
es_deviation=deviation_es(es)
ob_deviation=deviation_ob(ob)
ad_deviation=deviation_ad(ad)
sb_deviation=deviation_sb(sb)
tcoupb_deviation=deviation_tcoupb(tcoupb)
tcartb_deviation=deviation_tcartb(tcartb)
tuc_deviation = deviation_tuq(tuq)
tpv_deviation = deviation_tpv(tpv)
thp_deviation = deviation_thp(thp)
extblockd_deviation = deviation_exb(extblockd)
validation_list = {'Estimated savings': float(es_deviation[0]), 
                   'Orders with coupons blocked': float(ob_deviation[0]), 'Applied discount': float(ad_deviation[0]), 'Sales with Coupon-blocking': float(sb_deviation[0]), 
                   'Coupons blocked': float(tcoupb_deviation[0]), 'Total arts with auto-blocking': float(tcartb_deviation[0]), "Unique coupon codes blocked": float(tuc_deviation[0]),
                   'Protected page views': float(tpv_deviation[0]), 'Total Sales':float(thp_deviation[0]), 
                   'Honey&CapitalOne extensions blocked':float(extblockd_deviation[0])}
print(validation_list)
for keys, values in validation_list.items():
    if math.isinf(values):
        print(formating_text.BOLD, keys, formating_text.END, 'there was 0 values in days we compare data to')
    elif values > 50:
        print(formating_text.BOLD, keys, formating_text.END, 'data for',yesterday_str, formating_text.BOLD, 'contains anomaly', formating_text.END)
    else:
        print(formating_text.BOLD, keys, formating_text.END, 'data for',yesterday_str, formating_text.BOLD, 'is good:', formating_text.END,  'no deviation more than 50% from median')

{'Estimated savings': 85.00855675984025, 'Orders with coupons blocked': 125.0, 'Applied discount': 0.0, 'Sales with Coupon-blocking': 135.57928009289122, 'Coupons blocked': 13.513513513513516, 'Total arts with auto-blocking': 29.166666666666686, 'Unique coupon codes blocked': 66.66666666666669, 'Protected page views': 1.0201935212452753, 'Total Sales': 19.444444444444443, 'Honey&CapitalOne extensions blocked': 0.0}
 Estimated savings  data for 2021-03-11  contains anomaly
 Orders with coupons blocked  data for 2021-03-11  contains anomaly
 Applied discount  data for 2021-03-11  is good:  no deviation more than 50% from median
 Sales with Coupon-blocking  data for 2021-03-11  contains anomaly
 Coupons blocked  data for 2021-03-11  is good:  no deviation more than 50% from median
 Total arts with auto-blocking  data for 2021-03-11  is good:  no deviation more than 50% from median
 Unique coupon codes blocked  data for 2021-03-11  contains anomaly
 Protected page views  data for 2021-03-11  is good:  no deviation more than 50% from median
 Total Sales  data for 2021-03-11  is good:  no deviation more than 50% from median
 Honey&CapitalOne extensions blocked  data for 2021-03-11  is good:  no deviation more than 50% from median

In [35]:
def get_couponsList(organizationId, extension_param, days_back):
    framesc=[]
    for i in range(1, days_back):
        start_date = date.today() - timedelta(days=i)
        end_date = date.today() - timedelta(days=i)
        start_date_str = start_date.strftime('%Y-%m-%d')
        end_date_str = end_date.strftime('%Y-%m-%d')
        if extension_param == 'capitalone':
            coupon_stats = %sql $ecom_queries_capitalone.querryforCouponsList
        elif extension_param == 'honey':
            coupon_stats = %sql $ecom_queries_honey.querryforCouponsList
        else:
            coupon_stats = %sql $ecom_queries.querryforCouponsList
        coupon_stats = coupon_stats.DataFrame()
        framesc.append(coupon_stats)
        dates = start_date_str    
        coupon_stats['idx_date']=dates
    coupon_stats = pd.concat(framesc)   
    coupon_stats['coupon']=coupon_stats['coupon'].astype('category')
    coupon_stats['total_coupons_blocked']=coupon_stats['total_coupons_blocked'].astype('int64')
    coupon_stats['idx_date']=coupon_stats['idx_date'].astype('datetime64')
    coupon_stats_raw = coupon_stats.set_index('idx_date')
    return coupon_stats_raw

In [ ]:
coupon_stats_raw = get_couponsList(organizationId, 'total', period)
coupon_stats_rawHoney = get_couponsList(organizationId, 'honey', period)
coupon_stats_rawCO = get_couponsList(organizationId, 'capitalone', period)

In [37]:
coupon_stats_raw=coupon_stats_raw.rename(columns={"total_coupons_blocked": "Honey&CapitalOne coupons blocked"})
coupon_stats_rawHoney=coupon_stats_rawHoney.rename(columns={"total_coupons_blocked": "Honey coupons blocked"})
coupon_stats_rawCO = coupon_stats_rawCO.rename(columns={"total_coupons_blocked": "CapitalOne coupons blocked"})

In [38]:
coupon_statsT = coupon_stats_raw.pivot(columns = 'coupon')
coupon_statsT=coupon_statsT.replace(np.nan, '-')
coupon_list = coupon_statsT.sort_values('idx_date', ascending=False)
#coupon_list
coupon_statsH = coupon_stats_rawHoney.pivot(columns = 'coupon')
coupon_statsH = coupon_statsH.replace(np.nan, '-')
coupon_listH = coupon_statsH.sort_values('idx_date', ascending=False)
#coupon_listH
coupon_statsCO = coupon_stats_rawCO.pivot(columns = 'coupon')
coupon_statsCO=coupon_statsCO.replace(np.nan, '-')
coupon_listCO = coupon_statsCO.sort_values('idx_date', ascending=False)
#coupon_listCO

In [39]:
versionStats = %sql $ecom_queries.query_for_version_stats
versionStats = versionStats.DataFrame()
versionStats = versionStats.rename(columns={"cv": "events_count"})
versionStats = versionStats.set_index('idx_date')
versionStats

 * clickhouse://liubov-shalimova:***@clickhouse.clean.local:8123/default
Done.

            events_count version          publisherHostname
idx_date
2021-03-12          2503  1.2.22  shop.drinksupercoffee.com
2021-03-12          2399  1.2.22   www.drinksupercoffee.com
2021-03-12            12  1.2.14  shop.drinksupercoffee.com
2021-03-11            69  1.2.24  shop.drinksupercoffee.com
2021-03-11          5664  1.2.22   www.drinksupercoffee.com
2021-03-11          5299  1.2.22  shop.drinksupercoffee.com
2021-03-10            19  1.2.19  shop.drinksupercoffee.com
2021-03-10          5600  1.2.22  shop.drinksupercoffee.com
2021-03-10            26  1.2.24   www.drinksupercoffee.com
2021-03-10          6588  1.2.22   www.drinksupercoffee.com
2021-03-10            37  1.2.24  shop.drinksupercoffee.com
2021-03-09          5291  1.2.22   www.drinksupercoffee.com
2021-03-09          5403  1.2.22  shop.drinksupercoffee.com
2021-03-08          4940  1.2.22  shop.drinksupercoffee.com
2021-03-08            15  1.2.19  shop.drinksupercoffee.com
2021-03-08          4979  1.2.22   www.drinksupercoffee.com
2021-03-07          4839  1.2.22   www.drinksupercoffee.com
2021-03-07            16  1.2.19   www.drinksupercoffee.com
2021-03-07          4369  1.2.22  shop.drinksupercoffee.com
2021-03-07            20  1.2.19  shop.drinksupercoffee.com
2021-03-06          4603  1.2.22  shop.drinksupercoffee.com
2021-03-06          5366  1.2.22   www.drinksupercoffee.com
2021-03-06            15  1.2.19  shop.drinksupercoffee.com
2021-03-05         14660  1.2.22   www.drinksupercoffee.com
2021-03-05          6545  1.2.22  shop.drinksupercoffee.com

In [40]:
import excel_import
from excel_import import append_df_to_excel

In [41]:
orgname = orgname.replace(" ", "")
filename = orgname + today_str + '.xlsx'
sheetnameForStatsTotal = orgname+'_Total'
sheetnameForStatsHoney = orgname+'_Honey'
sheetnameForStatsCO = orgname+'_CapitalOne'
sheetnameForCouponsTotal = orgname+'_coupons_total'
sheetnameForCouponsHoney = orgname+'_coupons_Honey'
sheetnameForCouponsCO = orgname+'_coupons_CapitalOne'
print(orgname)

Kitu

In [42]:
append_df_to_excel(filename, latest_stats, sheetname=sheetnameForStatsTotal, index=True, startrow=0)
append_df_to_excel(filename, two_days_ago_stats, sheetname=sheetnameForStatsTotal, index=True, header=False, startrow=2)
append_df_to_excel(filename, week_ago_stats, sheetname=sheetnameForStatsTotal, index=True,  header=False, startrow=3)
append_df_to_excel(filename, diff_between_days, sheetname=sheetnameForStatsTotal, index=True,  header=False, startrow=4)
append_df_to_excel(filename, diff_between_days_of_week, sheetnameForStatsTotal, index=True,  header=False, startrow=5)
append_df_to_excel(filename, coupon_list, sheetname=sheetnameForCouponsTotal, index=True,  header=True, startrow=0)
append_df_to_excel(filename, versionStats, sheetname=orgname+'_versions', index=True,  header=True, startrow=0)

In [43]:
append_df_to_excel(filename, latest_statsHoney, sheetname=sheetnameForStatsHoney, index=True, startrow=0)
append_df_to_excel(filename, two_days_ago_statsHoney, sheetname=sheetnameForStatsHoney, index=True, header=False, startrow=2)
append_df_to_excel(filename, week_ago_statsHoney, sheetname=sheetnameForStatsHoney, index=True,  header=False, startrow=3)
append_df_to_excel(filename, diff_between_daysHoney, sheetname=sheetnameForStatsHoney, index=True,  header=False, startrow=4)
append_df_to_excel(filename, diff_between_days_of_weekHoney, sheetname=sheetnameForStatsHoney, index=True,  header=False, startrow=5)
append_df_to_excel(filename, coupon_listH, sheetname=sheetnameForCouponsHoney, index=True,  header=True, startrow=0)

In [44]:
append_df_to_excel(filename, latest_statsCO, sheetname=sheetnameForStatsCO, index=True, startrow=0)
append_df_to_excel(filename, two_days_ago_statsCO, sheetname=sheetnameForStatsCO, index=True, header=False, startrow=2)
append_df_to_excel(filename, week_ago_statsCO, sheetname=sheetnameForStatsCO, index=True,  header=False, startrow=3)
append_df_to_excel(filename, diff_between_daysCO, sheetname=sheetnameForStatsCO, index=True,  header=False, startrow=4)
append_df_to_excel(filename, diff_between_days_of_weekCO, sheetname=sheetnameForStatsCO, index=True,  header=False, startrow=5)
append_df_to_excel(filename, coupon_listCO, sheetname=sheetnameForCouponsCO, index=True,  header=True, startrow=0)